<h2>Detection strategy - {{title}}</h2>
<h4>People info {{changeDetectionPrint()}}</h4>
<div *ngIf="time">Time - {{time}}</div>
<!--<div>Time - {{timer$$ | async}}</div>-->
<ng-container *ngIf="listOfPeople.length">
  <ol>
    <li *ngFor="let person of listOfPeople">
      <div class="item">
        <p class="item__content">
          <span class="name">{{person.name}}</span>
          is
          <span class="age">{{person.age}}</span>
          old. Lives in
          <span class="city">{{person.city}}</span>
        </p>

        <button class="item__button" (click)="removePerson.emit(person)">Delete</button>
      </div>
    </li>
  </ol>

<!--  <span *ngIf="dummyData">{{dummyData}}</span>-->
</ng-container>
<h3 *ngIf="!listOfPeople.length">No data...</h3>
<button (click)="checkForChanges()">Manual change check</button>

