:host {
  width: 40%;
  display: block;
  padding: 5px;
  margin: 10px 0;
  border: 3px solid purple;
  border-radius: 5px;

  button {
    border: 1px solid purple;
    border-radius: 5px;
    padding: 5px;
  }

  li {
    margin: 5px auto;

    .item {
      display: flex;
      justify-content: space-between;
    }

    .item__button {
      margin-right: 10px;
      align-self: center;
      height: 30px;
    }
  }

  .name {
    font-weight: bold;
    color: blue;
  }

  .age {
    color: red;
  }

  .city {
    color: blueviolet;
  }
}
