<!--<s-view *ngIf="arrOfUsers" [arrOfUsers]="arrOfUsers"></s-view>-->
<!--<button (click)="addUser()">Add user</button>-->
<!--<button (click)="justPrint()">Print it!</button>-->

<h1>Change Detection Example</h1>
<!--<form [formGroup]="personForm" (ngSubmit)="addFromForm()" action="">-->
<!--  <input autocomplete="off" placeholder="Name" formControlName="name" id="name" type="text">-->
<!--  <input autocomplete="off" placeholder="Age" formControlName="age" id="age" type="number">-->
<!--  <input autocomplete="off" placeholder="City" formControlName="city" id="city" type="text">-->
<!--  <button type="submit" [disabled]="personForm.invalid" >Add - same reference</button>-->
<!--</form>-->
<div class="lists-holder">
  <app-people-list-default [showTimer]="showTimeFlag" [timer$$]="timer$$" [listOfPeople]="arrOfUsers" (removePerson)="deletePerson($event)"></app-people-list-default>
  <app-people-list-on-push [showTimer]="showTimeFlag" [timer$$]="timer$$" [listOfPeople]="arrOfUsers" (removePerson)="deletePerson($event)"></app-people-list-on-push>
</div>
<button>Empty button</button>
<button (click)="loadPeopleList()">Load People</button>
<button (click)="sameRef()">Add People within same reference</button>
<button (click)="newRef()">Add People with a new reference</button>
<!--<app-counter [currentNumber]="counterNumber"></app-counter>-->
<button (click)="deleteUserInternally()">Delete user</button>
<!--<app-progress-bar></app-progress-bar>-->
