:host {
  display: block;
  padding: 10px;
  margin: 50px;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;

  .lists-holder {
    display: flex;
    justify-content: space-around;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
    padding: 10px;
    border: 3px solid orange;
    border-radius: 5px;

    input {
      border-right: none;
      border-top: none;
      border-left: none;
    }

    input+input {
      margin-top: 25px;
    }

    button {
      margin: 10px auto;
    }
  }

  button {
    margin-right: 10px;
  }
}
